.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $prim-dark;
    color: #fff;
    padding-top: 32px;

    .h2 {
        text-align: center;
        font-size: 1.5rem;
        max-width: 350px;
        margin: 0;
    }

    .nav {
        display: flex;
        gap: 10px;
        transition: 0.3s;
        transform: translateX(0);
    }

    .card {
        min-width: 250px;
        min-height: 245px;
        display: block;
        text-decoration: none;
        color: $dark;
        background-color: $light;
        padding: 1rem;
        transition: 0.3s;

        &-number {
            display: block;
            font-size: 2rem;
            line-height: 1.1;
            font-family: $ff-sec;
            margin-bottom: 1.5rem;
        }

        .heading {
            margin-bottom: 0.5rem;
        }

        p {
            margin: 0;
        }

        &:hover {
            background-color: $prim;
            color: #fff;

            .heading-accent {
                color: #fff;
            }
        }
    }

    .controls {
        justify-content: center;
        gap: 10px;
        margin-top: 1rem;
    
        label {
            display: block;
            background-color: $light;
            border-radius: 100%;
    
            width: 10px;
            height: 10px;
        }
    }
}


@media screen and (min-width: $break-point) {

    .cards-section {
        padding-top: 100px;

        .nav-wrapper {
            width: 100%;
        }


        .nav {
            gap: 20px 30px;
            flex-wrap: wrap;
        }

        .h2 {
            text-align: left;
            font-size: 3.25rem;
        }

        .card {
            max-width: 350px;
            padding: 1.5rem;

            &-number {
                font-size: 4rem;
                margin-bottom: 2.5rem;
            }

            .heading {
                margin-bottom: 1rem;
            }
        }
    }
}
