:root {
  --white: #fff;
  --st-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --st-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha/Neucha-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  color: var(--dark);

  font: 16px/1.6em 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.2em;
  font-family: 'Neucha', sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header {
  position: relative;
}

.orange {
  color: var(--main);
}

.light {
  z-index: 0;

  background-color: var(--light);
}

.brown {
  z-index: 0;

  background-color: var(--brown);
}

.container {
  width: 1440px;

  position: relative;
  height: fit-content;

  z-index: 1;

  padding: 100px 165px;
}

.bg:before {
  position: absolute;
  top: 0;
  left: 0;
  
  background-image: url('../assets/img/background.png');
  background-repeat: no-repeat;

  content:'';

  width: 100%;
  height: 100%;

  background-size: cover;

  opacity: 0.1;

  z-index: -1;
}

.title {
  position: relative;

  z-index: 1;

  margin-bottom: 185px; 
}

.header-img {
  position: absolute;

  top: 55px;
  right: -105px;

  height: 525px;

  z-index: 0;
}

.header-text-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 40px;

  column-gap: 30px;
}

.header-text-container > * {
  margin-top: 16px;
}

.first-col {
  grid-row: 1 / span 2;
}

.btn {
  position: relative;

  padding: 12px 24px;

  background-color: var(--main);

  text-transform: uppercase;
  border: none;
  transform: translateX(570px);
  color: var(--white);
  font-weight: bold;

  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ea7600;
}

.section-title {
  text-align: center;
}

.video-section .container {
  display: flex;
  flex-direction: column;

  z-index: 2;

  gap: 30px;

  align-items: center;

  padding-bottom: 506px;
}

.filter {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video {
  position: absolute;
  top: 329px;
}

.cards-section .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;

  padding-top: 200px;

  background-color: #42413c;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  text-align: left;
  width: 350px;

  padding: 24px;

  color: var(--main-dark);

  background-color: var(--light);

  border: none;

  cursor: pointer;

  transition: 0.3s;
}

.first-row {
  height: 323px;
}

.second-row {
  height: 348px;
}

.cards-title {
  width: 350px;

  padding: 0 0 11px;

  color: var(--white);

  background-color: transparent;
}

.cards-title h2 {
  font-size: 52px;
}

.card-descrp {
  font: 16px/1.6em 'Open Sans', sans-serif;
  font-weight: 400;
}

.number-wrapper {
  height: 64px;
  margin-bottom: 24px;
}

.number {
  font-size: 64px;
  font-family: "Neucha", sans-serif;
  line-height: 70.5px;
}

.card-head {
  transition: 0.3s;
}

.card:hover .card-head {
  color: var(--white);
}

.card:hover {
  color: var(--white);

  background-color: var(--main);
}

.special-head {
  font-size: 24px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2;
}

.section-head {
  margin-bottom: 30px;
}

.section-left .special-head {
  color: #908d8b;
}

.section-top {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.cito {
  font: 34px/1.2 'Neucha', sans-serif;
}

.section-bot {
  display: flex;

  column-gap: 30px;
}

.line {
  font-size: 14px;
  font-weight: 700;

  margin-bottom: 20px;
  padding: 5px 10px;
  
  line-height: 1.2;

  color: var(--white);
  text-transform: uppercase;

  background-color: var(--brown);
}

.section-text {
  flex-basis: 50%;
}

.section-right {
  color: var(--white);
}

.section-right .section-img {
  order: 2;
}

.section-right .special-head {
  color: #d7ccc0;
}

.section-right .line {
  color: var(--brown);

  background-color: var(--white);
}

.afor {
  display: block;
  margin-top: 16px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: space-between;

  padding: 55px;

  margin-bottom: 60px;
  padding-right: 117px;

  color: var(--white);

  background-color: #42413c;
}

.input {
  width: 423px;
  height: 50px;
  padding: 15px 0 17px 18px;
}

.input::placeholder {
  color: #757575;
  font: 13.1px/1.6 'Open Sans', sans-serif;

  opacity: 0.2;
}

.form-desc {
  margin-bottom: 9px;

  font-size: 18px;
}

.form-caption {
  font-size: 12px;
}

.rules {
  color: var(--white);
}

.info {
  margin-top: 16px;
  
  font-size: 14px;
  text-align: center;
}

.test-frame h2 {
  color: var(--main);
}

.flex {
  display: flex;
  flex-direction: column;
}

.test-frame {
  order: 3;
}

.test-frame p {
  margin: 0.75em 0;
}

.test-frame ul {
  margin: 16px 0;
  padding-left: 40px;
}
