:root {
  --w: #FFFFFF;
  --l: #F5F4F0;
  --d5: #908D8B;
  --d: #2A2626;
  --b: #B09A81;
  --p: #FE8A02;
  --ph:#EA7600;
  --pd: #42413C;
  --w5: #D7CCC0;
  --h1: 72px;
  --h2: 60px;
  --h3: 34px;
  --h4: 24px;
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha/Neucha-Regular.ttf');
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  color: var(--d);

  min-height: 100vh;

  margin: 0;

  overflow-x: hidden;
}

.container {
  position: relative;
  z-index: 0;
  width: 100%;
}

.container .content {
  max-width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.container::before {
  position: absolute;

  top: 0;
  left: 0;

  z-index: -2;

  width: 100%;
  height: 100%;

  background-image: url('../assets/img/background.png');

  opacity: 0.1;

  content: "";
}

.light {
  background-color: var(--l);
}

.brown {
  background-color: var(--b);
}

.p-dark {
  background-color: var(--pd);
}

.filter {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* HEADS */
.head {
  font-weight: 400;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
  letter-spacing: 0em;

  color: var(--p);

  margin: 0;
}

.h1 {
  font-size: var(--h1);
}
.h2 {
  font-size: var(--h2);
}
.h3 {
  font-size: var(--h3);
}
.h4 {
font-size: var(--h4);
}
/* TEXT */
.text {
  margin: 0;
}

.colored {
  color: var(--d);
}
/*BTN*/
.btn {
  width: fit-content;

  border: none;
  
  font: inherit;
  font-weight: 700;
  color: var(--w);
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--p);

  cursor: pointer;

  transition: 0.3s;

  padding: 0.75em 1.5em;
}

.btn:hover {
  background-color: var(--ph);
}
/*HEADER*/
.header .content {
  display: grid;
  grid-template-rows: 265px 11.5em min-content 1em min-content 2.5em min-content;
  grid-template-columns: 48.65% 48.65%;
  justify-content: space-between;
}

.header :nth-child(1) {
  grid-column-start: 1;
}

.header-img {
  height: 525px;

  transform: translate(-25%, -8%);

  z-index: -1;
}

.header :nth-child(3) {
  grid-row: 3 / -1;
}

.header :nth-child(4) {
  grid-row: 3 / span 1;
}

.header :nth-child(5) {
  grid-row: 5 / span 1;
}

.header :nth-child(6) {
  grid-row: 7 / span 1;
}
/*MAIN*/
.main {
  width: 100%;
}
/*VIDEO SECTION*/
.video-section {
  margin-bottom: -100px;

  z-index: 1;
}

.video-section.container::before {
  display: none;
}

.video-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875em;

  text-align: center;
  
  padding-bottom: 0;
}

.video {
  margin-bottom: 1em;
}
/*CARDS SECTION*/

.cards-section.container::before {
  display: none;
}

.cards-section .h2 {
  font-size: 3.25em;
}

.cards-section .colored {
  color: var(--w);
}

.cards-section .content {
  display: grid;
  grid-template-columns: repeat(3, 31.532%);
  grid-template-rows: minmax();
  justify-content: space-between;
  row-gap: 1.25em;

  padding-top: 200px;
}

.card {
  display: grid;
  grid-template-rows: 4em 2.5em min-content 1em min-content;
  text-decoration: none;
  font: inherit;
  color: var(--pd);

  background-color: var(--l);

  transition: 0.3s;

  padding: 24px;
}

.card :nth-child(1) {
  grid-row-start: 1;
}

.card :nth-child(2) {
  grid-row-start: 3;
}

.card :nth-child(3) {
  grid-row-start: 5;
}

.card-number {
  font-size: 4em;
  line-height: 70.5px;
  color: var(--pd);
}

.card:hover {
  background-color: var(--p);
}

.card:hover > * {
  color: var(--w);
}

.card:active {
  transform: scale(0.9);
}
/*TOPIC DEFAULT*/
.topic {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
/*TOPIC HEADER*/
.topic-header {
  display: grid;
  grid-template-rows: 1.5em max-content 1.875em min-content;
  column-gap: 1.875em;
}

.topic-header > * {
  grid-column: 2 / span 1;
}

.topic-header :nth-child(1) {
  grid-row: 1 / span 5;
  grid-column: 1 / span 1;
}

.topic-header :nth-child(4) {
  grid-row-start: 4;
}
/*TOPIC BODY*/
.topic-body {
  display: grid;
  row-gap: 1.5em;
  column-gap: 1.875em;;
}

.separator {
  grid-column: 1 / span 2;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;

  padding: 6px 10px 4px;
}

.topic-body :nth-child(2) {
  grid-column-start: 1;
  grid-row-start: 2;
}

.topic-body :nth-child(3) {
  grid-column-start: 2;
  grid-row-start: 2;
}

.afor {
  display: block;
  margin: 1em 0;
}
/*TOPICS*/

.light .topic-header .subtitle {
  color: var(--d5);
}

.brown .topic-header .subtitle {
  color: var(--w5);
}

.light .topic-header .title,
.light .topic-header .cito {
  color: var(--d);
}

.brown .topic-header .title,
.brown .topic-header .cito {
  color: var(--w);
}

.light .topic-body .separator {
  color: var(--w);

  background-color: var(--b);
}

.brown .topic-body .separator {
  color: var(--b);

  background-color: var(--w);
}

.brown .topic-body .text {
  color: var(--w);
}
/*FOOTER*/
.footer.container::before {
  display: none;
}

.form {
  display: grid;
  grid-template-rows: min-content 9px 3.125em min-content;
  grid-template-columns: max-content 12.3% 42.3% auto;
  background-color: var(--d);

  padding: 2.5em 3.45em;
  margin-bottom: 3.75em;
}

.form * {
  grid-column: 2 / span 1;
  color: var(--w);
  grid-column: 3;
}

.form :nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;

  align-self: center;
}

.form :nth-child(3) {
  grid-row: 3;
  border: none;
}

.form :nth-child(4) {
  grid-row: 4;
}

.form :nth-child(5) {
  grid-column: 4;
  grid-row: 3;
  background-image: url('../assets/svg/send.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-color: var(--p);
  border: none;
  width: 70px;
  transform: translateX(-8px);
  transition: 0.3s;
  cursor: pointer;
}

.form :nth-child(5):hover {
  background-color: var(--ph);
}

.input-title {
  font-size: 1.125em;
}

.input-caption {
  font-size: 0.75em;
}

.line {
  text-decoration: underline;
  cursor: pointer;
}

.info {
  text-align: center;
}