.h1 {
  font-size: 4.5em;
}
.h2 {
  font-size: 3.75em;
}
.h3 {
  font-size: 2.125em;
}
.h4 {
  font-size: 1.5em;
}
@media screen and (max-width: 50em) {
  .h1 {
    font-size: 2em;
  }
  .h2 {
    font-size: 2em;
  }
  .h3 {
    font-size: 1.5em;
  }
  .h4 {
    font-size: 1em;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Neucha";
  src: url("../assets/fonts/Neucha/Neucha-Regular.ttf");
}
.body {
  font-size: 0.75em;
  font-weight: 1.6;
  font-family: "Open Sans", sans-serif;
  color: #2A2626;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.heading {
  font-weight: 1.2;
  font-family: "Neucha", sans-serif;
  margin-block: 0 1rem;
}
.heading-accent {
  color: #FE8A02;
}

.filter {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.display-sm-none {
  display: none;
}

.display-md-none {
  display: none;
}

.position-sm-absolute {
  position: absolute;
}

.bg-light::after, .bg-brown::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: -3;
}
.bg-light::after {
  background-color: #F5F4F0;
}
.bg-brown::after {
  background-color: #B09A81;
}
.bg::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -2;
}

@media screen and (min-width: 50em) {
  .display-md-block {
    display: block;
  }
  .position-md-static {
    position: static;
  }
  .heading {
    margin-block: 0 1.875rem;
  }
}
@media screen and (max-width: 50em) {
  .display-sm-block {
    display: block;
  }
  .display-sm-flex {
    display: flex;
  }
}
@media screen and (min-width: 30em) {
  .body {
    font-size: 1em;
  }
}
.container {
  padding: 2em 0.5em;
  position: relative;
  width: min(1110px, 100% - 1rem);
  margin-inline: auto;
}
.container .even-cols {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 1.875em;
}
.container .even-cols .col {
  display: grid;
}

@media screen and (min-width: 50em) {
  .container {
    padding: 6.25em 0;
  }
}
.btn {
  display: block;
  width: fit-content;
  text-decoration: none;
  background-color: #FE8A02;
  border: 0;
  font-weight: 700;
  color: #fff;
  padding: 0.75rem 1.5rem;
  transition: 0.3s;
}
.btn:hover {
  background-color: #EA7600;
}

.header {
  position: relative;
  overflow: hidden;
}
.header .even-cols {
  grid-auto-flow: row;
}
.header .heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 52%;
  z-index: -1;
  width: 16em;
  height: 100%;
  background-image: url("../assets/img/main.png");
  background-repeat: no-repeat;
  background-size: 65%;
}
.header .btn {
  margin-top: 1em;
}

@media screen and (min-width: 50em) {
  .header .heading {
    margin-bottom: 13rem;
  }
  .header .heading::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 26%;
    z-index: -1;
    width: 16em;
    height: 100%;
    background-image: url("../assets/img/main.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media screen and (min-width: 50em) {
  .header .btn {
    margin-top: 3.25rem;
  }
  .header .even-cols {
    grid-auto-flow: column;
  }
}
.video-section {
  text-align: center;
}
.video-section .container {
  margin-top: -48px;
  transform: translate(0, 48px);
}
.video-section .video-author {
  margin-block: 0 1rem;
}
.video-section .video {
  width: min(919px, 100%);
  height: min(569px, 51.262vw);
}

@media screen and (min-width: 50em) {
  .video-section .container {
    margin-top: -200px;
    transform: translate(0, 200px);
  }
  .video-section .video-author {
    margin-block: 0 1.875rem;
  }
}
.test {
  background-color: aqua;
  height: 500px;
}

.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #42413C;
  color: #fff;
  padding-top: 32px;
}
.cards-section .h2 {
  text-align: center;
  font-size: 1.5rem;
  max-width: 350px;
  margin: 0;
}
.cards-section .nav {
  display: flex;
  gap: 10px;
  transition: 0.3s;
  transform: translateX(0);
}
.cards-section .card {
  min-width: 250px;
  min-height: 245px;
  display: block;
  text-decoration: none;
  color: #2A2626;
  background-color: #F5F4F0;
  padding: 1rem;
  transition: 0.3s;
}
.cards-section .card-number {
  display: block;
  font-size: 2rem;
  line-height: 1.1;
  font-family: "Neucha";
  margin-bottom: 1.5rem;
}
.cards-section .card .heading {
  margin-bottom: 0.5rem;
}
.cards-section .card p {
  margin: 0;
}
.cards-section .card:hover {
  background-color: #FE8A02;
  color: #fff;
}
.cards-section .card:hover .heading-accent {
  color: #fff;
}
.cards-section .controls {
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}
.cards-section .controls label {
  display: block;
  background-color: #F5F4F0;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 50em) {
  .cards-section {
    padding-top: 100px;
  }
  .cards-section .nav-wrapper {
    width: 100%;
  }
  .cards-section .nav {
    gap: 20px 30px;
    flex-wrap: wrap;
  }
  .cards-section .h2 {
    text-align: left;
    font-size: 3.25rem;
  }
  .cards-section .card {
    max-width: 350px;
    padding: 1.5rem;
  }
  .cards-section .card-number {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }
  .cards-section .card .heading {
    margin-bottom: 1rem;
  }
}
.cards-section {
  overflow: hidden;
}
.cards-section .nav-wrapper {
  width: 250px;
  margin-inline: auto;
  overflow: hidden;
}

@media screen and (min-width: 50em) {
  .cards-section .nav-wrapper {
    width: 100%;
  }
  .cards-section .nav {
    justify-content: center;
  }
}
#radio1:checked ~ .controls :nth-child(1) {
  background-color: #FE8A02;
}

#radio2:checked ~ .controls :nth-child(2) {
  background-color: #FE8A02;
}

#radio3:checked ~ .controls :nth-child(3) {
  background-color: #FE8A02;
}

#radio4:checked ~ .controls :nth-child(4) {
  background-color: #FE8A02;
}

#radio5:checked ~ .controls :nth-child(5) {
  background-color: #FE8A02;
}

#radio1:checked ~ .nav-wrapper .nav {
  transform: translateX(0px);
}

#radio2:checked ~ .nav-wrapper .nav {
  transform: translateX(-260px);
}

#radio3:checked ~ .nav-wrapper .nav {
  transform: translateX(-520px);
}

#radio4:checked ~ .nav-wrapper .nav {
  transform: translateX(-780px);
}

#radio5:checked ~ .nav-wrapper .nav {
  transform: translateX(-1040px);
}

/*# sourceMappingURL=style.css.map */
