.container {
    padding: 2em 0.5em;
    $max-width: 1110px;
    $padding: 1rem;

    position: relative;
    width: min($max-width, 100% - $padding);
    margin-inline: auto;

    .even-cols {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        column-gap: 1.875em;

        .col {
            display: grid;
        }
    }
    
}


.o {
    &-0 {
        order: 0;
    }

    &-1 {
        order: 1;
    }
}

@media screen and (min-width: $break-point) {
    .container {
        padding: 6.25em 0;
    }
}