* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
  font-weight: $fw-r;
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}
  
@font-face {
  font-weight: $fw-b;
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
}
  
@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha/Neucha-Regular.ttf');
}

.body {
    font-size: $fs-m;
    font-weight: $lh-txt ;
    font-family: $ff-prim, sans-serif;
    color: $dark;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

.heading {
    font-weight: $lh-heading;
    font-family: $ff-sec, sans-serif;
    margin-block: 0 1.875rem;

    &-accent {
        color: $prim;
    }
}
.filter {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
.display-sm-none {
  display: none;
}

.bg {
  &-light::after,
  &-brown::after {
    content: "";

    display: block;
    position: absolute;

    inset: 0;

    z-index: -3;
  }
  &-light::after {
    background-color: $light;
  }
  &-brown::after {
    background-color: $brown;
  }
  &::before {
    content: "";

    display: block;
    position: absolute;

    inset: 0;

    background-image: url('../assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -2;
  }
}

@media screen and (min-width: $break-point) {
  .display-md-block {
      display: block;
  }
}

@media screen and (min-width:$break-point-min) {
  .body {
    font-size: $fs;
  }
}