.header {
    .even-cols {
        grid-auto-flow: row;
    }

    .heading {
        margin-block: 0 1em;
    }
}


@media screen and (min-width: $break-point) {
    .header {
        .heading {
            margin-block: 0 13rem;
                &::after {
                    content: "";
                    position: absolute;
                    top: 6%;
                    left: 29%;
                    z-index: -1;
            
                    width: 100%;
                    height: 100%;
            
                    background-image: url('../assets/img/main.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }

        }
    
        .btn {
            margin-top: 2rem;
        }
    }
}

@media screen and (min-width: $break-point-min) {
    .header {
        position: relative;

        .btn {
            margin-top: 3.25rem;
        }

        .even-cols {
            grid-auto-flow: column;
        }
    }
}